.env
.idea
lcov.info
node_modules/
www/dist/
www/dist.zip

pixaton-tests/**/*.candidate.png
pixaton-tests/**/*.diff.png

demo-app-vite/pixaton-tests/**/*.candidate.png
demo-app-vite/pixaton-tests/**/*.diff.png
demo-app-vite/dist/


