.editorconfig
.env
.github
.idea

demo-app-vite/
docs/
mockaton-mocks/
mockaton-static-mocks/
pixaton-tests/

src/**/*.test.js

.dockerignore
CHANGELOG.md
Dockerfile
TODO.md
lcov.info
mockaton.config.js
