.editorconfig
.env
.github
.idea

browser-extension/
demo-app-vite/
docs/
mockaton-mocks/
mockaton-static-mocks/
pixaton-tests/

src/**/*.test.js

Makefile
.dockerignore
CHANGELOG.md
Dockerfile
TODO.md
lcov.info
mockaton.config.js
