h2,
h3 {
	position: relative;
	transition: background-color 500ms ease-in-out;

	&.highlight {
		background-color: var(--colorFragHighlight);
	}

	a[id^="-"] {
		position: absolute;
		top: 0;
		display: flex;
		height: 100%;
		align-items: center;
		scroll-margin-top: 100px;
		cursor: pointer;
	}

	&:hover a[id^="-"]::before {
		position: absolute;
		left: -24px;
		width: 20px;
		height: 20px;
		content: '';
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23777' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'/%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'/%3E%3C/svg%3E");
	}
}
