h2,
h3 {
	position: relative;
	transition: background-color 500ms ease-in-out;

	&.highlight {
		background-color: var(--colorFragHighlight);
	}

	a[id^="-"] {
		position: absolute;
		top: 0;
		display: flex;
		height: 100%;
		align-items: center;
		scroll-margin-top: 100px;
		cursor: pointer;
	}

	&:hover a[id^="-"]::before {
		position: absolute;
		left: -24px;
		content: '🔗';
		font-size: 20px;
		line-height: 1;
	}
}
