header {
	position: fixed;
	z-index: var(--zIndexHeader);
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: var(--headerHeight);
	align-items: center;
	justify-content: space-between;
	background: var(--bgHeader);
	box-shadow: var(--boxShadow2);
	fill: white;

	.Logo {
		width: 116px;
		box-sizing: content-box;
		padding-top: 13px;
		padding-right: 16px;
		padding-bottom: 3px;
		padding-left: 15px;

		&:hover {
			fill: var(--accentLight);
		}

		&:focus-visible {
			background: var(--colorAccent);
			color: #fff;
		}
	}

	.right {
		display: flex;
		height: 100%;
		align-items: center;
		padding-right: 10px;
		gap: 16px;

		.Github {
			width: 24px;
			height: 24px;

			&:hover {
				fill: var(--accentLight);
			}
		}

		.Hamburger {
			display: none;
		}
	}
}

@media (max-width: 800px) {
	header .right .Hamburger {
		display: block;
		width: 24px;
		height: 24px;

		&:hover {
			fill: var(--accentLight);
		}
	}
}

.visible {
	display: block;
}

