nav {
	position: fixed;
	top: var(--headerHeight);
	overflow: auto;
	width: var(--navWidth);
	max-height: calc(100vh - var(--headerHeight));
	user-select: none;

	ul {
		padding-bottom: calc(var(--footerHeight) + 20px);
		margin-top: 24px;
		margin-bottom: 20px;

		li {
			padding: 1px 0;
			margin: 0;
			line-height: 1.1;
			list-style: none;
			transition: background-color 280ms ease-out;

			a {
				position: relative;
				display: block;
				overflow: hidden;
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				padding: 10px 16px;
				cursor: pointer;
				font-size: 13px;
				line-height: 16px;
				outline: 0;
				-webkit-user-drag: none;
				user-select: none;
				color: var(--fg2);

				&:hover {
					color: var(--fgHigh);
				}
				&:focus-visible {
					text-decoration: underline;
					color: var(--fgHigh);
				}

				&.active {
					text-decoration: none;
					cursor: pointer; /* for scroll to top */
					font-weight: bold;
					color: var(--fgHigh);
				}
			}
		}
	}
}

@media (max-width: 800px) {
	nav {
		position: fixed;
		z-index: var(--zIndexNav);
		top: var(--headerHeight);
		right: 0;
		display: none;
		height: fit-content;
		animation: pushright 300ms 1;
		background: var(--bg);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
	}
}

@keyframes pushright {
	0% {
		opacity: .1;
		transform: translateX(100%);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.NextDocLink {
	position:relative;
	z-index: var(--zIndexNextDoc);
	width: 100%;
	padding: 16px;
	padding-left: 30px;
	background: var(--accent);
	color: white;
}
