@media (prefers-color-scheme: light) {
	:root {
		--syntaxCmd: #1184f4;
		--syntaxComment: #777;
		--syntaxKeyword: #5a5e88;
		--syntaxNum: #9e009e;
		--syntaxProperty: #321385;
		--syntaxPunctionation: #999;
		--syntaxRegex: #f0a;
		--syntaxString: #ec009f;
		--syntaxVar: green;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--syntaxCmd: #359dff;
		--syntaxComment: #8c8c8c;
		--syntaxKeyword: #8aa19b;
		--syntaxNum: #925cff;
		--syntaxProperty: #b067ff;
		--syntaxPunctionation: #999;
		--syntaxRegex: #f0a;
		--syntaxString: #ff1ce4;
		--syntaxVar: #21cd3e;
	}
}


.syntax_punctuation {
	color: var(--syntaxPunctionation);
}

.syntax_comment,
.syntax_prolog,
.syntax_doctype,
.syntax_cdata {
	color: var(--syntaxComment);
}
.syntax_comment {
	font-family: "Avenir Next", system-ui, sans-serif;
}
.syntax_type {
	opacity: 0.6;
	font-weight: normal;
}


.syntax_property {
	color: var(--syntaxProperty);
}

.syntax_tag,
.syntax_boolean,
.syntax_number,
.syntax_constant,
.syntax_symbol,
.syntax_deleted {
	color: var(--syntaxNum);
}

.syntax_selector,
.syntax_attr-name,
.syntax_string,
.syntax_char,
.syntax_builtin,
.syntax_inserted {
	color: var(--syntaxVar);
}

.syntax_operator,
.syntax_entity,
.syntax_url,
.syntax_string,
.syntax_string {
	color: var(--syntaxString);
}

.syntax_atrule,
.syntax_attr-value,
.syntax_keyword {
	color: var(--syntaxKeyword);
}

.syntax_function,
.syntax_class-name {
	color: var(--syntaxCmd);
}

.syntax_regex,
.syntax_important,
.syntax_variable {
	color: var(--syntaxRegex);
}

.syntax_namespace {
	opacity: 0.7;
}

.syntax_important,
.syntax_bold {
	font-weight: bold;
}
.syntax_italic {
	font-style: italic;
}
.syntax_entity {
	cursor: help;
}
