
h1 {
	display: flex;
	gap: 20px;
	a {
		font-size: 0.45em;
		font-weight: normal;
	}
}

form {
	margin: 20px 0;

	input {
		padding: 4px 8px;
		border: 1px solid var(--faintBorder);
		border-radius: 4px;
	}
}

.ServerAddr {
	font-style: italic;
}

.Apis {

	details {
		margin: 0;
		margin-bottom: 8px;

		summary {
			padding: 8px 0;
			border: 2px solid var(--bg);
			border-right: 0;
			border-left: 0;
			cursor: pointer;
			color: var(--fg);
			line-height: 16px;

			&:active {
				cursor: grabbing;
			}

			&:hover {
				border-color: var(--accentFaint);
			}

			.Method {
				display: inline-block;
				min-width: 54px;
				padding: 2px;
				margin-right: 12px;
				margin-left: 8px;
				text-transform: uppercase;
				text-align: center;
				font-size: 12px;
				opacity: .7;
				color: var(--fg2);
				user-select: none;
			}
			.Path {
				margin-right: 16px;
				color: var(--accent);
			}
			.Summary {
				display: block;
				margin-top: 8px;
			}
		}

		&:not([open]) {
			.Summary::after {
				content: '…'
			}
		}

		> div {
			position: relative;
			margin-bottom: 48px;
			margin-left: 0;

			.CurlWrap {
				display: flex;

				pre {
					width: 100%;
				}

				.Curl {
					.ServerAddr {
						opacity: 0.6;
					}
				}
			}

			.CopyButton {
				position: absolute;
				right: 24px;
				margin-top: 16px;
				fill: var(--fg);
				cursor: pointer;
				&:hover {
					fill: var(--accent);
				}
			}
		}

	}
}
