@media (prefers-color-scheme: light) {
	p > strong {
		background: var(--colorHighlight);
	}
}
@media (prefers-color-scheme: dark) {
	p > strong {
		color: var(--colorHighlight);
	}
}

hr {
	margin: 60px 0;
}
