/*noinspection CssInvalidPseudoSelector*/
::-webkit-media-controls-overlay-play-button {
	opacity: 0;
}
/*noinspection CssInvalidPseudoSelector*/
::-webkit-media-controls-panel {
	background-image: none;
}


.VideoOverlayBtn {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.VideoOverlayBtn .PlayButton {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 60px;
	height: 60px;
	border: 4px solid #fff;
	margin: auto;
	background: var(--accent);
	border-radius: 30px;
	fill: #fff;
	filter: drop-shadow(0px 1px 1px rgba(30, 0, 200, 0.4));
	transition: all 120ms ease-in-out;
}
@media (max-width: 720px) {
	.VideoOverlayBtn .PlayButton {
		width: 40px;
		height: 40px;
		border-width: 3px;
		border-radius: 20px;
	}
}
.VideoOverlayBtn:hover .PlayButton {
	background: var(--accentLight);
	transform: scale3d(1.1, 1.1, 1);
}
.VideoOverlayBtn:focus .PlayButton {
	animation: _kfBeat 1800ms infinite;
}
@keyframes _kfBeat {
	0%, 100% {
		transform: scale(1.1);
	}
	50% {
		transform: scale(1);
	}
}
.VideoTrack {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 14px;
	cursor: pointer;
	opacity: 0;
	transition: 280ms ease-in-out;
}
.VideoTrack:hover {
	background: var(--accentLight);
	opacity: 1;
}

.VideoBar {
	position: relative;
	width: 0;
	height: 100%;
	background: var(--accent);
	opacity: 0.4;
}

.VideoTrack:hover .VideoBar {
	opacity: 1;
}
.VideoOverlayBtn:hover + .VideoTrack {
	opacity: 1;
}

.TimeStamp {
	position: absolute;
	bottom: -40px; /* TODO Why different from www? */
	width: 100%;
	font-size: 11px;
	opacity: 0.7;
	text-align: center;
	user-select: none;
}
.CurrentTime {
	display: inline-block;
	min-width: 28px;
}

