:root {
	--radius: 4px;
	--boxShadow1: 0 3px 1px -1px rgba(0, 0, 0, 0.04), 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: light) {
	:root {
		--color4xxBackground: #ffedd1;
		--colorAccent: #0068c1;
		--colorBackground: #fff;
		--colorComboBoxHeaderBackground: #fff;
		--colorComboBoxBackground: #eee;
		--colorHeaderBackground: #f0f0f0;
		--colorSecondaryButtonBackground: #fcfcfc;
		--colorSecondaryActionBorder: #ddd;
		--colorSecondaryAction: #666;
		--colorDisabledMockSelector: #444;
		--colorHover: #dfefff;
		--colorLabel: #444;
		--colorLightRed: #ffe4ee;
		--colorRed: #da0f00;
		--colorText: #000;
	}
	.syntaxPunc {
		color: var(--colorSecondaryAction);
	}
	.syntaxKey, .syntaxTag {
		color: #ed206a
	}
	.syntaxVal, .syntaxAttr {
		color: #9b71e8
	}
	.syntaxStr, .syntaxAttrVal {
		color: #3e8300
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--color4xxBackground: #403630;
		--colorAccent: #2495ff;
		--colorBackground: #181818;
		--colorHeaderBackground: #111;
		--colorComboBoxBackground: #2a2a2a;
		--colorSecondaryButtonBackground: #2a2a2a;
		--colorSecondaryActionBorder: #333;
		--colorSecondaryAction: #999;
		--colorComboBoxHeaderBackground: #222;
		--colorDisabledMockSelector: #b9b9b9;
		--colorHover: #023661;
		--colorLabel: #aaa;
		--colorLightRed: #ffe4ee;
		--colorRed: #f41606;
		--colorText: #fff;
	}
	.syntaxPunc {
		color: var(--colorSecondaryAction);
	}
	.syntaxKey, .syntaxTag {
		color: #f92672
	}
	.syntaxVal, .syntaxAttr {
		color: #ae81ff
	}
	.syntaxStr, .syntaxAttrVal {
		color: #a6e22e
	}
}

html,
body {
	overflow: hidden;
	height: 100%;
	padding: 0;
	margin: 0;
	background: var(--colorHeaderBackground);
	font-size: 12px;
}
body {
	display: grid;
	grid-template-rows: auto 1fr;
	background: var(--colorBackground);
	color: var(--colorText);
}

* {
	box-sizing: border-box;
	padding: 0;
	border: 0;
	margin: 0;
	font-family: system-ui, sans-serif;
	font-size: 100%;
	outline: 0;
	scrollbar-width: thin;
}

select, a, input, button, summary {
	&:focus-visible {
		outline: 2px solid var(--colorAccent);
	}
}

a,
button,
input[type=checkbox],
input[type=checkbox] ~ svg {
	cursor: pointer;

	&:active {
		cursor: grabbing;
	}
}

select {
	border: 1px solid transparent;
	font-size: 100%;
	color: var(--colorText);
	cursor: pointer;
	outline: 0;
	border-radius: var(--radius);
	appearance: none;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23888888'><path d='M16.59 8.59 12 13.17 7.41 8.59 6 10l6 6 6-6z'/></svg>") no-repeat;
	background-size: 16px;
	background-position: 100% center;

	&:enabled {
		border-color: var(--colorSecondaryActionBorder);
		background-color: var(--colorSecondaryButtonBackground);
		&:hover {
			border-color: var(--colorHover);
			cursor: pointer;
			background-color: var(--colorHover);
		}
	}
	&:disabled {
		cursor: not-allowed;
	}
}

header {
	display: flex;
	width: 100%;
	padding: 16px;
	background: var(--colorHeaderBackground);
	box-shadow: var(--boxShadow1);

	> div {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		gap: 16px 10px;

		@media (max-width: 879px) {
			max-width: 400px;
		}
	}

	img {
		width: 130px;
		align-self: center;
		margin-right: 22px;
	}

	.Field {
		width: 132px;

		span {
			display: flex;
			align-items: center;
			color: var(--colorLabel);
			font-size: 11px;
			gap: 4px;

			svg {
				width: 14px;
				height: 14px;
				stroke: var(--colorLabel);
				stroke-width: 1.5px;
				fill: none;
				opacity: .7;
			}
		}

		input[type=url],
		input[type=number],
		select {
			width: 100%;
			height: 28px;
			padding: 4px 8px;
			border: 0;
			border-right: 3px solid transparent;
			margin-top: 4px;
			outline: 1px solid var(--colorSecondaryActionBorder);
			color: var(--colorText);
			font-size: 11px;
			background-color: var(--colorComboBoxHeaderBackground);
			border-radius: var(--radius);
		}

		select:enabled:hover {
			background: var(--colorHover);
		}

		&.GlobalDelayField {
			width: 84px;

			input[type=number] {
				padding-right: 0;
			}

			svg {
				width: 12px;
				height: 12px;
				border: 1px solid var(--colorLabel);
				stroke-width: 3px;
				border-radius: 50%;
			}
		}

		&.FallbackBackend {
			position: relative;
			width: 210px;

			.SaveProxiedCheckbox {
				position: absolute;
				top: 0;
				right: 0;
				display: flex;
				width: auto;
				min-width: unset;
				align-items: center;
				font-size: 11px;
				gap: 4px;

				input:disabled + span {
					opacity: 0.8;
				}
			}
		}
	}

	.BulkSelector {
		background-image: none;
		text-align-last: center;
	}

	.ResetButton {
		padding: 6px 12px;
		border: 1px solid var(--colorRed);
		margin-left: 4px;
		background: transparent;
		color: var(--colorRed);
		border-radius: 50px;

		&:hover {
			background: var(--colorRed);
			color: white;
		}
	}

	.Help {
		min-width: 24px;
		align-self: end;
		margin-left: auto;
		fill: var(--colorSecondaryAction);

		&:hover {
			fill: var(--colorAccent);
		}

		@media (max-width: 520px) {
			display: none;
		}
	}
}


main {
	display: grid;
	min-height: 0;
	grid-template-columns: minmax(min-content, max-content) 1fr;

	@media (max-width: 1160px) {
		grid-template-columns: min(580px) 1fr;
	}

	@media (max-width: 879px) {
		grid-template-columns: 100%;
		grid-template-rows: 1fr 1fr;
	}

	.leftSide {
		padding: 16px;
		padding-bottom: 0;
		overflow-y: auto;
		box-shadow: var(--boxShadow1);
	}

	.rightSide {
		padding: 16px;
		overflow-y: auto;
	}
}

table {
	border-collapse: collapse;

	th {
		padding-bottom: 2px;
		padding-left: 4px;
		text-align: left;
	}

	tbody {
		border-bottom: 20px solid transparent;
	}

	td:nth-child(3),
	td:nth-child(4),
	td:nth-child(5) {
		max-width: 280px;
	}
}

.empty {
	margin-top: 80px;
}


.PreviewLink {
	position: relative;
	left: -8px;
	display: inline-block;
	width: 100%;
	padding: 8px;
	margin-left: 4px;
	border-radius: var(--radius);
	color: var(--colorAccent);
	text-decoration: none;
	word-break: break-word;

	&:hover {
		background: var(--colorHover);
	}
	&.chosen {
		color: white;
		background: var(--colorAccent);
	}
}

.MockSelector {
	width: 100%;
	height: 26px;
	padding-right: 16px;
	padding-left: 8px;
	text-overflow: ellipsis;
	font-size: 12px;
	background-position: calc(100% - 4px) center;

	&.nonDefault {
		font-weight: bold;
		font-size: 0.92rem;
	}
	&.status4xx {
		background: var(--color4xxBackground);
	}
	&:disabled {
		padding-right: 4px;
		border-color: transparent;
		appearance: none;
		background: transparent;
		cursor: default;
		color: var(--colorDisabledMockSelector);
		opacity: 0.8;
	}
}

.DelayToggler,
.ProxyToggler {
	display: flex;

	> input {
		appearance: none;

		&:focus-visible {
			outline: 0;
			& ~ svg {
				outline: 2px solid var(--colorAccent)
			}
		}
	}

	> svg {
		vertical-align: bottom;
		fill: none;
		stroke: var(--colorSecondaryAction);
	}
}

.DelayToggler {
	> input {
		&:checked ~ svg {
			border-color: var(--colorAccent);
			fill: var(--colorAccent);
			background: var(--colorAccent);
			stroke: var(--colorBackground);
		}

		&:enabled:hover:not(:checked) ~ svg {
			border-color: var(--colorHover);
			background: var(--colorHover);
			stroke: var(--colorText);
		}
	}

	> svg {
		width: 22px;
		height: 22px;
		border: 1px solid var(--colorSecondaryActionBorder);
		stroke-width: 2.5px;
		border-radius: 50%;
	}
}

.ProxyToggler {
	padding: 1px 3px;
	border: 1px solid var(--colorSecondaryActionBorder);
	margin-right: 8px;
	border-radius: var(--radius);

	&:has(input:checked),
	&:has(input:disabled) {
		background: transparent;
		box-shadow: none;
	}

	> input {
		&:checked ~ svg {
			fill: var(--colorAccent);
			stroke: var(--colorAccent);

			path:last-of-type { /* inner cloud curve */
				stroke: var(--colorBackground);
			}
			transform: scale(1.2);
		}

		&:enabled:hover:not(:checked) ~ svg {
			fill: var(--colorHover);
			stroke: var(--colorText);
		}

		&:disabled ~ svg {
			stroke-opacity: 0.4;
			cursor: not-allowed;
			box-shadow: none;
			fill: transparent;

			path:last-of-type {
				stroke-opacity: 0;
				stroke: transparent;
			}
		}
	}

	> svg {
		width: 18px;
		height: 18px;
		stroke-width: 2px;
		border-radius: var(--radius);
	}
}

.InternalServerErrorToggler,
.NotFoundToggler {
	display: flex;
	margin-right: 12px;
	margin-left: 8px;
	cursor: pointer;

	> input {
		appearance: none;

		&:focus-visible {
			outline: 0;
			& ~ span {
				outline: 2px solid var(--colorAccent)
			}
		}

		&:checked ~ span {
			border-color: var(--colorRed);
			color: white;
			background: var(--colorRed);
		}
	}

	> span {
		padding: 4px;
		border: 1px solid var(--colorSecondaryActionBorder);
		font-size: 10px;
		font-weight: bold;
		color: var(--colorSecondaryAction);
		border-radius: var(--radius);

		&:hover {
			border-color: var(--colorLightRed);
			background: var(--colorLightRed);
			color: var(--colorRed);
		}
	}
}


.StaticFilesList {
	a {
		display: inline-block;
		padding: 8px 0;
		margin-left: 4px;
		border-radius: var(--radius);
		color: var(--colorAccent);
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}


.PayloadViewer {
	pre {
		padding-top: 12px;

		code {
			white-space: pre;
			tab-size: 4;
			font-family: monospace;

			* {
				font-family: monospace;
			}

			.json {
				color: var(--colorSecondaryAction);
			}
		}
	}
}

.ProgressBar {
	position: relative;
	top: -4px;
	width: 100%;
	height: 2px;
	background: var(--colorComboBoxHeaderBackground);

	div {
		position: absolute;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: var(--colorAccent);
		animation-name: _kfProgress;
		animation-timing-function: linear;
		animation-delay: 80ms;
		/*animation-duration: It's in JavaScript */
	}
}
@keyframes _kfProgress {
	to {
		width: 100%;
	}
}

.red {
	color: var(--colorRed);
}

.dittoDir {
	opacity: 0.9;
	filter: saturate(0);
}

.ErrorToast {
	position: fixed;
	z-index: 9999;
	bottom: 12px;
	left: 12px;
	padding: 12px 16px;
	cursor: pointer;
	background: var(--colorRed);
	color: white;
	border-radius: var(--radius);
	box-shadow: var(--boxShadow1);
	opacity: 0;
	transform: translateY(20px);
	animation: _kfToastIn 240ms forwards;

	&:hover::after {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		text-align: center;
		content: '×';
		font-size: 28px;
		line-height: 34px;
		border-radius: var(--radius);
		background: rgba(0, 0, 0, 0.5);
	}
}

@keyframes _kfToastIn {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
