:root {
	--colorAccent: #0069d0;
	--colorHover: #dfefff;
	--colorRed: #da0f00;
	--colorLightRed: #ffe4ee;
	--colorLightOrange: #ffedd1;
	--colorLightGrey: rgba(0, 0, 0, 0.02);
}
html, body {
	margin: 0;
	font-size: 12px;
}
body {
	padding: 16px;
}
* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: system-ui, sans-serif;
	font-size: 100%;
}


fieldset {
	width: 120px;
	border: 1px solid #ccc;

	label {
		display: flex;
		align-items: center;
		padding: 4px 0;

		input {
			margin-right: 6px;
		}
	}
}


main {
	display: flex;
	align-items: flex-start;

	> table {
		border-collapse: collapse;

		th {
			padding-top: 20px;
			padding-bottom: 2px;
			text-align: left;
		}

		tr {
			border-bottom: 2px solid transparent;
		}
	}
}

menu {
	display: flex;
	align-items: flex-end;
	margin-bottom: 12px;
	gap: 14px;

	img {
		margin-right: 16px;
	}

	label {
		span {
			display: block;
			color: #555;
			font-size: 11px;
		}

		select {
			width: 144px;
			padding: 3px 0;
			border: 1px solid #bbb;
			margin-top: 1px;
			cursor: pointer;
			border-radius: 4px;
			font-size: 11px;
		}
	}

	button {
		padding: 4px 12px;
		border: 1px solid var(--colorRed);
		background: transparent;
		color: var(--colorRed);
		border-radius: 50px;
		cursor: pointer;

		&:hover {
			background: var(--colorRed);
			color: white;
		}
	}
}

.PayloadViewer {
	position: sticky;
	top: 0;
	width: 50%;
	margin-left: 16px;

	h2 {
		padding-top: 20px;
	}

	pre {
		tab-size: 2;

		&:not(:empty) {
			overflow: auto;
			max-height: calc(100vh - 160px);
			padding: 12px;
			margin-top: 6px;
			background: var(--colorLightGrey);
			font-family: monospace;
		}
	}
}

.PreviewLink {
	position: relative;
	left: -6px;
	display: inline-block;
	width: 280px;
	padding: 8px 6px;
	color: var(--colorAccent);
	text-decoration: none;

	&:hover {
		background: var(--colorHover);
	}
	&.chosen {
		color: white;
		background: var(--colorAccent);
	}
}

.MockSelector {
	width: 300px;
	padding: 8px 1px;
	border: 0;
	border-radius: 4px;
	background: #eee;
	text-align: right;
	direction: rtl;
	text-overflow: ellipsis;
	font-size: 12px;

	&:disabled {
		background: transparent;
		color: #222;
		cursor: not-allowed
	}
	&:enabled:hover {
		cursor: pointer;
		background: var(--colorHover);
	}
	&.status4xx {
		background: var(--colorLightOrange);
	}
}

.DelayToggler {
	display: flex;
	margin-left: 8px;
	cursor: pointer;

	> input {
		display: none;

		&:checked ~ svg {
			border-color: white;
			filter: invert();
		}
	}

	> svg {
		width: 14px;
		height: 14px;
		border: 1px solid #000;
		vertical-align: bottom;
		fill: #000;
		border-radius: 50%;
		background: white;

		&:hover {
			background: #bce5ff;
			fill: #00318b;
		}
	}
}

.InternalServerErrorToggler {
	display: flex;
	margin-left: 6px;
	cursor: pointer;

	> input {
		display: none;

		&:checked ~ span {
			color: white;
			background: var(--colorRed);
		}
	}

	> span {
		padding: 4px;
		font-size: 10px;
		color: #333;
		border-radius: 2px;
		background: white;

		&:hover {
			background: var(--colorLightRed);
			color: var(--colorRed);
		}
	}
}

.bold {
	font-weight: bold;
}
