:root {
	--boxShadow1: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

@media (prefers-color-scheme: light) {
	:root {
		--color4xxBackground: #ffedd1;
		--colorAccent: #0171dd;
		--colorBackground: #fff;
		--colorCodeBackground: #fafafa;
		--colorComboBoxBackground: #fafafa;
		--colorDisabled: #222;
		--colorHover: #dfefff;
		--colorLabel: #777;
		--colorLightRed: #ffe4ee;
		--colorRed: #da0f00;
		--colorSecondaryButtonBackground: #f0f0f0;
		--colorText: #000;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--color4xxBackground: #403630;
		--colorAccent: #0482fb;
		--colorBackground: #141414;
		--colorCodeBackground: #333;
		--colorComboBoxBackground: #252525;
		--colorDisabled: #aaa;
		--colorHover: #023661;
		--colorLabel: #aaa;
		--colorLightRed: #ffe4ee;
		--colorRed: #f41606;
		--colorSecondaryButtonBackground: #444;
		--colorText: #fff;
	}
}

html, body {
	margin: 0;
	font-size: 12px;
}
body {
	padding: 16px;
	background: var(--colorBackground);
	color: var(--colorText);
}
* {
	padding: 0;
	border: 0;
	margin: 0;
	font-family: system-ui, sans-serif;
	font-size: 100%;
}

select {
	background: var(--colorComboBoxBackground);
	color: var(--colorText);
	cursor: pointer;
	border-radius: 4px;
	outline: 0;

	&:enabled {
		box-shadow: var(--boxShadow1);
	}
	&:enabled:hover {
		cursor: pointer;
		background: var(--colorHover);
	}
	&:disabled {
		background: transparent;
		cursor: not-allowed;
		color: var(--colorDisabled);
	}
}


main {
	display: flex;
	align-items: flex-start;

	> table {
		border-collapse: collapse;

		th {
			padding-top: 20px;
			padding-bottom: 2px;
			text-align: left;
		}

		tr {
			border-bottom: 2px solid transparent;
		}
	}
}

menu {
	display: flex;
	align-items: flex-end;
	margin-bottom: 12px;
	gap: 12px;

	img {
		width: 140px;
		margin-right: 24px;
	}

	label {
		span {
			display: block;
			padding-left: 7px;
			color: var(--colorLabel);
			font-size: 11px;
		}

		select {
			width: 150px;
			padding: 4px;
			margin-top: 2px;
			font-size: 11px;
		}
	}

	button {
		padding: 4px 12px;
		border: 1px solid var(--colorRed);
		background: transparent;
		color: var(--colorRed);
		border-radius: 50px;
		cursor: pointer;

		&:hover {
			background: var(--colorRed);
			color: white;
		}
	}
}

.PayloadViewer {
	position: sticky;
	top: 0;
	width: 50%;
	margin-left: 16px;

	h2 {
		padding-top: 20px;
	}

	pre {
		tab-size: 2;

		&:not(:empty) {
			overflow: auto;
			max-height: calc(100vh - 160px);
			padding: 12px;
			margin-top: 6px;
			background: var(--colorCodeBackground);
			font-family: monospace;
		}
	}
}

.PreviewLink {
	position: relative;
	left: -6px;
	display: inline-block;
	width: 280px;
	padding: 8px 6px;
	color: var(--colorAccent);
	text-decoration: none;

	&:hover {
		background: var(--colorHover);
	}
	&.chosen {
		color: white;
		background: var(--colorAccent);
	}
}

.MockSelector {
	width: 300px;
	padding: 8px 1px;
	border: 0;
	border-radius: 4px;
	text-align: right;
	direction: rtl;
	text-overflow: ellipsis;
	font-size: 12px;

	&.status4xx {
		background: var(--color4xxBackground);
	}
}

.DelayToggler {
	display: flex;
	margin-left: 8px;
	cursor: pointer;

	> input {
		display: none;

		&:checked ~ svg {
			background: var(--colorAccent);
			fill: white;
		}
	}

	> svg {
		width: 16px;
		height: 16px;
		vertical-align: bottom;
		fill: var(--colorText);
		border-radius: 50%;
		background: var(--colorSecondaryButtonBackground);

		&:hover {
			background: var(--colorHover);
			fill: var(--colorText);
		}
	}
}

.InternalServerErrorToggler {
	display: flex;
	margin-left: 6px;
	cursor: pointer;

	> input {
		display: none;

		&:checked ~ span {
			color: white;
			background: var(--colorRed);
		}
	}

	> span {
		padding: 4px;
		font-size: 10px;
		color: var(--colorText);
		border-radius: 2px;
		background: var(--colorSecondaryButtonBackground);

		&:hover {
			background: var(--colorLightRed);
			color: var(--colorRed);
		}
	}
}

.bold {
	font-weight: bold;
}
